.card-livro {
    width: 20%;
    height: 500px;
    background: #f5f5f5;
    margin: 1.5%;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-livro:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

#img-livro {
    width: 145px;
    margin: 0 20px;
}

.botao-comprar {
    width: 15rem;
    height: 3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    color: #0A0A0A;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: left;
    transition: all .3s;
}

.botao-comprar:hover {
    color:  #0A0A0A;
    background-color:#ffaf00;
    border-color: #ffaf00;
    text-decoration: none;
    cursor: pointer;
}

.titulo-card{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px 5px;
    text-align: center;
    color: #292929;
    cursor: pointer;
}

.titulo-card:hover{
    text-decoration:underline;
}

.autor{
    font-size: 16px;
    text-align: center;
    margin-bottom: 60px !important;
}

.preco{
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffaf00;
}