.main-header{
    width: 100%;
    height: 25%;
    background: #14213d;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-logo {
    width: 200px;
    cursor: pointer;
}

#img-avatar {
    width: 30px;
    margin: 10px;
}

#login-frase {
    font-family: 'Gill Sans Nova Light';
    font-size: 16px;
    color: #cccccc;
}

#login-frase:hover {
    color: #ffaf00;
    cursor: pointer;
}

.main-header_login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#img-carrinho {
    width: 25px;
    margin: 30px;
    cursor: pointer;
}

